.appnotification-badge {
    margin: 0;
}

.appnotification-badge.active {
    color: var(--rz-sidebar-toggle-hover-color);
    background: var(--rz-sidebar-toggle-hover-background-color);
    border-radius: var(--rz-sidebar-toggle-hover-border-radius);
}

.appnotification-container {
    border-radius: var(--rz-profile-menu-border-radius);
    background-color: var(--rz-profile-menu-background-color);
    box-shadow: var(--rz-context-menu-box-shadow);
    height: 476px;
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: left;
    top: calc(100% - 2px);
    width: 400px;
    z-index: 10;
}

@media only screen and (max-height: 536px) {
    .appnotification-container {
        height: calc(100vh - 60px);
    }
}

@media only screen and (max-width: 888px) {
    .appnotification-container {
        position: fixed;
        left: 50%;
        top: 48px;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 768px) {
    .appnotification-container {
        width: 100%;
    }
}

.appnotification-container.loading {
    height: auto;
}

.appnotification-container-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.appnotification-empty {
    color: var(--rz-primary-light);
    text-align: center;
}

.appnotification-footer {
    border-top: var(--rz-panel-menu-item-border);
    color: var(--rz-text-title-color);
    height: 30px;
    position: relative;
    text-align: center;
}

.appnotification-header {
    border-bottom: var(--rz-panel-menu-item-border);
    color: var(--rz-text-title-color);
    font-size: 1rem;
    font-weight: 500;
    height: 30px;
    line-height: 2rem;
    position: relative;
    text-align: center;
}

.appnotification-list {
    height: calc(100% - 60px);
    overflow: overlay;
    overflow-anchor: none;
}

.appnotification-list-item {
    height: 104px;
    margin: 0;
    padding: var(--rz-datalist-padding);
}

.appnotification-list-item-body {
    background-color: var(--rz-datalist-item-background-color);
    border-radius: var(--rz-datalist-border-radius);
    border: var(--rz-datalist-item-border);
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0 1rem;
    position: relative;
}

.appnotification-list-item-body.unread {
    background-color: var(--rz-primary-lighter);
}

.appnotification-list-item-delete {
    color: var(--rz-primary-light);
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
}

.appnotification-list-item-delete:hover {
    font-weight: 700;
}

.appnotification-list-item-module {
    flex-shrink: 0 !important;
}

.appnotification-list-item-module i {
    color: var(--rz-primary-light);
}

.appnotification-list-item-information {
    flex-grow: 1 !important;
    margin-left: 1rem;
    padding: 1rem 0;
    overflow: hidden;
    overflow-anchor: none;
    overflow-x: overlay;
    white-space: nowrap;
}

.appnotification-list-item-information-date {
    color: var(--rz-primary-light);
    font-size: var(--rz-text-overline-font-size);
    letter-spacing: var(--rz-text-overline-letter-spacing);
    line-height: var(--rz-text-overline-line-height);
}

.appnotification-list-item-information-message {
    margin: 0;
}

.appnotification-list-item-information-title {
    color: var(--rz-text-title-color);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.25em;
}

.appnotification-sync-problem {
    color: var(--rz-danger-light);
    height: 24px;
    text-align: center;
}

.appnotification-spinner {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -0.125em;
    border: 0.25em solid var(--rz-primary-light);
    border-right-color: transparent;
    border-radius: 50%;
    position: relative;
    left: calc(50% - 12px);
    top: 2px;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}

@-webkit-keyframes appnotification-spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes appnotification-spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}