@page "/"
@page "/home"
@layout Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Shared.MainLayout
@inherits Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Pages.Home.HomeComponent

<RadzenHeading
    Size="H1"
    Text="Home">
</RadzenHeading>

<RadzenCard>
    <div class="row mb-3">
        <div class="col-12">
            <h1>Hello, Blazor BFF!</h1>
        </div>

        <div class="col-12">
            <AuthorizeView>
                <Authorized>
                    <dl>
                        @foreach (var claim in @context.User.Claims)
                        {
                            <dt>@claim.Type</dt>
                            <dd>@claim.Value</dd>
                        }
                    </dl>
                </Authorized>
                <NotAuthorized>
                    <p>
                        User no authorized!
                    </p>
                </NotAuthorized>
            </AuthorizeView>

            <AuthorizeView Policy="RequiredWriterPolicy">
                <Authorized>
                    <p>
                        The user has the RequiredWriter policy.
                    </p>
                </Authorized>
                <NotAuthorized>
                    <p>
                        The user does not have the RequiredWriter policy.
                    </p>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</RadzenCard>