@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a site to confirm the <b>appointment</b> of your <b>fantastic pet</b>.</p>
</div>
