<button class="rz-sidebar-toggle" style="margin-right: 0;" @onclick=@OpenSettingsDialog>
    <RadzenIcon
        class="rzi d-flex align-items-center"
        Icon="settings">
    </RadzenIcon>
</button>