@{
    ViewData["Title"] = "Confirm Appointment";
}

<div class="text-center">
    <h2>The appointment has been successfully confirmed</h2>
    <br>
    <h4><b>Thanky you</b>. We will glad to see you soon!</h4>
</div>