<div class="container">
    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text="Id"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@IdFilterValue
            @oninput=@OnChangeId
            Class="w-100"
            Data=@ClientIds
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterId
            Placeholder="Select an id...">
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text="Full Name"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@FullNameFilterValue
            @oninput=@OnChangeFullName
            Class="w-100"
            Data=@ClientFullNames
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterFullName
            Placeholder="Select a full name...">
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text="Preferred Name"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@PreferredNameFilterValue
            @oninput=@OnChangePreferredName
            Class="w-100"
            Data=@ClientPreferredNames
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterPreferredName
            Placeholder="Select a preferred name...">
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text="Salutation"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@SalutationFilterValue
            @oninput=@OnChangeSalutation
            Class="w-100"
            Data=@ClientSalutations
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterSalutation
            Placeholder="Select a salutation...">
        </RadzenAutoComplete>
    </div>

    <div class="row mb-4">
        <RadzenText
            TagName="TagName.H3"
            Text="Email Address"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@EmailAddressFilterValue
            @oninput=@OnChangeEmailAddress
            Class="w-100"
            Data=@ClientEmailAddresses
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterEmailAddress
            Placeholder="Select a email address...">
        </RadzenAutoComplete>
    </div>

    <div class="row">
        <div class="col-6 pl-0 pr-2">
            <RadzenButton
                ButtonStyle="ButtonStyle.Secondary"
                Class="w-100"
                Click=@OnClickButtonFilter
                Shade="Shade.Lighter"
                Text="FILTER">
            </RadzenButton>
        </div>

        <div class="col-6 pl-2 pr-0">
            <RadzenButton
                ButtonStyle="ButtonStyle.Light"
                Class="w-100"
                Click=@OnClickButtonClean
                Shade="Shade.Lighter"
                Text="CLEAN">
            </RadzenButton>
        </div>
    </div>
</div>