@page "/clients"
@layout Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Shared.MainLayout
@inherits Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Pages.Clients.ClientsComponent

@using Application.SharedModel.Client
@using Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Shared.Components.RadzenTextBoxSearch
@using Radzen
@using Radzen.Blazor

<RadzenHeading
    Size="H1"
    Text=@StringLocalizer["Clients_Title"]>
</RadzenHeading>

<RadzenCard>
    <div class="row mb-3">
        <div class="col-12 col-sm-4 col-md-6 col-lg-7 col-xl-8"></div>

        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="datagrid-filter-menu">
                <RadzenTextBoxSearchComponent
                    @bind-Value=@SearchFilterValue
                    @onkeyup=@OnKeyUpFilterSearch
                    AutoComplete="false"
                    Click=@OnClickFilterSearch
                    Placeholder=@StringLocalizer["Clients_Grid_Filter_PlaceHolder_Search"]>
                </RadzenTextBoxSearchComponent>

                <RadzenButton
                    ButtonStyle="ButtonStyle.Secondary"
                    Click=@OpenFilterMenu
                    Icon="filter_list">
                </RadzenButton>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <RadzenDataGrid @ref=@ClientsGrid
                AllowPaging="true"
                AllowSorting="true"
                Count=@Count
                Data=@Clients
                IsLoading=@IsLoading
                LoadData=@LoadData
                PagerHorizontalAlign="HorizontalAlign.Center"
                PageSize="10"
                PageSizeOptions="@PageSizeOptions"
                PageSizeText=@StringLocalizer["Clients_Grid_PageSizeText"]
                PagingSummaryFormat=@StringLocalizer["Clients_Grid_PagingSummaryFormat"]
                ShowPagingSummary="true"
                TItem="ClientDto">
                <Columns>
                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="ClientId"
                        Sortable="true"
                        SortOrder="SortOrder.Ascending"
                        TextAlign="TextAlign.Left"
                        TItem="ClientDto"
                        Title=@StringLocalizer["Clients_Grid_Column_Header_Id"]>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="FullName"
                        Sortable="true"
                        TextAlign="TextAlign.Justify"
                        TItem="ClientDto"
                        Title=@StringLocalizer["Clients_Grid_Column_Header_FullName"]>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="PreferredName"
                        Sortable="true"
                        TextAlign="TextAlign.Justify"
                        TItem="ClientDto"
                        Title=@StringLocalizer["Clients_Grid_Column_Header_PreferredName"]>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="Salutation"
                        Sortable="true"
                        TextAlign="TextAlign.Justify"
                        TItem="ClientDto"
                        Title=@StringLocalizer["Clients_Grid_Column_Header_Salutation"]>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="EmailAddress"
                        Sortable="true"
                        TextAlign="TextAlign.Justify"
                        TItem="ClientDto"
                        Title=@StringLocalizer["Clients_Grid_Column_Header_EmailAddress"]>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn
                        Width="70px"
                        Filterable="false"
                        Sortable="false"
                        TextAlign="TextAlign.Right"
                        TItem="ClientDto">

                        <Template Context="client">
                            <RadzenButton
                                ButtonStyle="ButtonStyle.Light"
                                Click="@((args) => OnClickDetail(client))"
                                Icon="find_in_page"
                                Size="ButtonSize.Medium"
                                Variant="Variant.Flat">
                            </RadzenButton>
                        </Template>

                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</RadzenCard>