@inherits Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Pages.Clients.ClientsFilterComponent

<div class="container">
    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["ClientsFilter_Label_Id"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@IdFilterValue
            @oninput=@OnChangeId
            Class="w-100"
            Data=@ClientIds
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterId
            Placeholder=@StringLocalizer["ClientsFilter_AutoComplete_PlaceHolder_Id"]>
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["ClientsFilter_Label_FullName"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@FullNameFilterValue
            @oninput=@OnChangeFullName
            Class="w-100"
            Data=@ClientFullNames
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterFullName
            Placeholder=@StringLocalizer["ClientsFilter_AutoComplete_PlaceHolder_FullName"]>
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["ClientsFilter_Label_PreferredName"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@PreferredNameFilterValue
            @oninput=@OnChangePreferredName
            Class="w-100"
            Data=@ClientPreferredNames
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterPreferredName
            Placeholder=@StringLocalizer["ClientsFilter_AutoComplete_PlaceHolder_PreferredName"]>
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["ClientsFilter_Label_Salutation"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@SalutationFilterValue
            @oninput=@OnChangeSalutation
            Class="w-100"
            Data=@ClientSalutations
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterSalutation
            Placeholder=@StringLocalizer["ClientsFilter_AutoComplete_PlaceHolder_Salutation"]>
        </RadzenAutoComplete>
    </div>

    <div class="row mb-4">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["ClientsFilter_Label_EmailAddress"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@EmailAddressFilterValue
            @oninput=@OnChangeEmailAddress
            Class="w-100"
            Data=@ClientEmailAddresses
            FilterDelay="500"
            LoadData=@LoadDataClientsFilterEmailAddress
            Placeholder=@StringLocalizer["ClientsFilter_AutoComplete_PlaceHolder_EmailAddress"]>
        </RadzenAutoComplete>
    </div>

    <div class="row">
        <div class="col-6 pl-0 pr-2">
            <RadzenButton
                ButtonStyle="ButtonStyle.Secondary"
                Class="w-100"
                Click=@OnClickButtonFilter
                Shade="Shade.Lighter"
                Text=@StringLocalizer["ClientsFilter_Button_Filter"]>
            </RadzenButton>
        </div>

        <div class="col-6 pl-2 pr-0">
            <RadzenButton
                ButtonStyle="ButtonStyle.Light"
                Class="w-100"
                Click=@OnClickButtonClean
                Shade="Shade.Lighter"
                Text=@StringLocalizer["ClientsFilter_Button_Clear"]>
            </RadzenButton>
        </div>
    </div>
</div>