@inherits Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Pages.Clinics.ClinicsFilterComponent

<div class="container">
    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text="Id"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@IdFilterValue
            @oninput=@OnChangeId
            Class="w-100"
            Data=@ClinicIds
            FilterDelay="500"
            LoadData=@LoadDataClinicsFilterId
            Placeholder="Select an id...">
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text="Name"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@NameFilterValue
            @oninput=@OnChangeName
            Class="w-100"
            Data=@ClinicNames
            FilterDelay="500"
            LoadData=@LoadDataClinicsFilterName
            Placeholder="Select a name...">
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text="Address"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@AddressFilterValue
            @oninput=@OnChangeAddress
            Class="w-100"
            Data=@ClinicAddresses
            FilterDelay="500"
            LoadData=@LoadDataClinicsFilterAddress
            Placeholder="Select an address...">
        </RadzenAutoComplete>
    </div>

    <div class="row mb-4">
        <RadzenText
            TagName="TagName.H3"
            Text="Email Address"
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@EmailAddressFilterValue
            @oninput=@OnChangeEmailAddress
            Class="w-100"
            Data=@ClinicEmailAddresses
            FilterDelay="500"
            LoadData=@LoadDataClinicsFilterEmailAddress
            Placeholder="Select an email address...">
        </RadzenAutoComplete>
    </div>

    <div class="row">
        <div class="col-6 pl-0 pr-2">
            <RadzenButton
                ButtonStyle="ButtonStyle.Secondary"
                Class="w-100"
                Click=@OnClickButtonFilter
                Shade="Shade.Lighter"
                Text="FILTER">
            </RadzenButton>
        </div>

        <div class="col-6 pl-2 pr-0">
            <RadzenButton
                ButtonStyle="ButtonStyle.Light"
                Class="w-100"
                Click=@OnClickButtonClean
                Shade="Shade.Lighter"
                Text="CLEAN">
            </RadzenButton>
        </div>
    </div>
</div>