@inherits Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Shared.Components.LayoutSpinnerComponent;

@if (IsVisible)
{
    <div class="spinner-overlay">
        <div class="spinner-border"></div>
    </div>
}