@inherits Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Shared.LoginLayoutComponent

@using Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Shared.Components.Spinner

<div style="height: 100vh;">
    @Body
</div>

<SpinnerComponent></SpinnerComponent>