@inherits Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Pages.AppointmentTypes.AppointmentTypesFilterComponent

<div class="container">
    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["AppointmentTypesFilter_Label_Id"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@IdFilterValue
            @oninput=@OnChangeId
            Class="w-100"
            Data=@AppointmentTypeIds
            FilterDelay="500"
            LoadData=@LoadDataAppointmentTypesFilterId
            Placeholder=@StringLocalizer["AppointmentTypesFilter_AutoComplete_PlaceHolder_Id"]>
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["AppointmentTypesFilter_Label_Name"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@NameFilterValue
            @oninput=@OnChangeName
            Class="w-100"
            Data=@AppointmentTypeNames
            FilterDelay="500"
            LoadData=@LoadDataAppointmentTypesFilterName
            Placeholder=@StringLocalizer["AppointmentTypesFilter_AutoComplete_PlaceHolder_Name"]>
        </RadzenAutoComplete>
    </div>

    <div class="row mb-3">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["AppointmentTypesFilter_Label_Code"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@CodeFilterValue
            @oninput=@OnChangeCode
            Class="w-100"
            Data=@AppointmentTypeCodes
            FilterDelay="500"
            LoadData=@LoadDataAppointmentTypesFilterCode
            Placeholder=@StringLocalizer["AppointmentTypesFilter_AutoComplete_PlaceHolder_Code"]>
        </RadzenAutoComplete>
    </div>

    <div class="row mb-4">
        <RadzenText
            TagName="TagName.H3"
            Text=@StringLocalizer["AppointmentTypesFilter_Label_Duration"]
            TextStyle="TextStyle.Subtitle2">
        </RadzenText>

        <RadzenAutoComplete
            @bind-Value=@DurationFilterValue
            @oninput=@OnChangeDuration
            Class="w-100"
            Data=@AppointmentTypeDurations
            FilterDelay="500"
            LoadData=@LoadDataAppointmentTypesFilterDuration
            Placeholder=@StringLocalizer["AppointmentTypesFilter_AutoComplete_PlaceHolder_Duration"]>
        </RadzenAutoComplete>
    </div>

    <div class="row">
        <div class="col-6 pl-0 pr-2">
            <RadzenButton
                ButtonStyle="ButtonStyle.Secondary"
                Class="w-100"
                Click=@OnClickButtonFilter
                Shade="Shade.Lighter"
                Text=@StringLocalizer["AppointmentTypesFilter_Button_Filter"]>
            </RadzenButton>
        </div>

        <div class="col-6 pl-2 pr-0">
            <RadzenButton
                ButtonStyle="ButtonStyle.Light"
                Class="w-100"
                Click=@OnClickButtonClean
                Shade="Shade.Lighter"
                Text=@StringLocalizer["AppointmentTypesFilter_Button_Clear"]>
            </RadzenButton>
        </div>
    </div>
</div>