@inherits Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Pages.AppointmentTypes.AppointmentTypeDetailComponent

<div class="row">
    <div class="col-12">
        <RadzenText
            Class="rz-color-primary-light"
            Text=@StringLocalizer["AppointmentTypeDetail_Label_Name"]
            TextStyle="TextStyle.Overline">
        </RadzenText>

        <RadzenText
            TextStyle="TextStyle.Body1">
            <b>@Model.Name</b>
        </RadzenText>
    </div>

    <div class="col-12">
        <RadzenText
            Class="rz-color-primary-light"
            Text=@StringLocalizer["AppointmentTypeDetail_Label_Code"]
            TextStyle="TextStyle.Overline">
        </RadzenText>

        <RadzenText
            TextStyle="TextStyle.Body1">
            <b>@Model.Code</b>
        </RadzenText>
    </div>

    <div class="col-12">
        <RadzenText
            Class="rz-color-primary-light"
            Text=@StringLocalizer["AppointmentTypeDetail_Label_Duration"]
            TextStyle="TextStyle.Overline">
        </RadzenText>

        <RadzenText
            TextStyle="TextStyle.Body1">
            <b>@Model.Duration</b>
        </RadzenText>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <RadzenButton
            ButtonStyle="ButtonStyle.Primary"
            ButtonType="ButtonType.Submit"
            Class="w-100"
            Click=@OnClickAccept
            Variant="Variant.Text">
            @StringLocalizer["AppointmentTypeDetail_Button_Accept"]
        </RadzenButton>
    </div>
</div>