@page "/appointmenttypes"
@layout Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Shared.MainLayout
@inherits Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Pages.AppointmentTypes.AppointmentTypesComponent

@using Application.SharedModel.AppointmentType
@using Fnunez.VeterinaryClinic.Scheduling.BlazorClient.Client.Shared.Components.RadzenTextBoxSearchComponent
@using Radzen
@using Radzen.Blazor

<RadzenHeading
    Size="H1"
    Text="Appointment Types">
</RadzenHeading>

<RadzenCard>
    <div class="row mb-3">
        <div class="col-12 col-sm-4 col-md-6 col-lg-7 col-xl-8"></div>

        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="datagrid-filter-menu">
                <RadzenTextBoxSearch
                    @bind-Value=@SearchFilterValue
                    @onkeyup=@OnKeyUpFilterSearch
                    AutoComplete="false"
                    Click=@OnClickFilterSearch
                    Placeholder="Search...">
                </RadzenTextBoxSearch>

                <RadzenButton
                    ButtonStyle="ButtonStyle.Secondary"
                    Click=@OpenFilterMenu
                    Icon="filter_list">
                </RadzenButton>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <RadzenDataGrid @ref=@AppointmentTypesGrid
                AllowPaging="true"
                AllowSorting="true"
                Count=@Count
                Data=@AppointmentTypes
                IsLoading=@IsLoading
                LoadData=@LoadData
                PagerHorizontalAlign="HorizontalAlign.Center"
                PageSize="10"
                PageSizeOptions="@PageSizeOptions"
                PagingSummaryFormat=@PagingSummaryFormat
                ShowPagingSummary="true"
                TItem="AppointmentTypeDto">
                <Columns>
                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="Id"
                        Sortable="true"
                        SortOrder="SortOrder.Ascending"
                        TextAlign="TextAlign.Left"
                        TItem="AppointmentTypeDto"
                        Title="Id">
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="Name"
                        Sortable="true"
                        TextAlign="TextAlign.Justify"
                        TItem="AppointmentTypeDto"
                        Title="Name">
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="Code"
                        Sortable="true"
                        TextAlign="TextAlign.Left"
                        TItem="AppointmentTypeDto"
                        Title="Code">
                    </RadzenDataGridColumn>
                    
                    <RadzenDataGridColumn
                        Filterable="true"
                        Property="Duration"
                        Sortable="true"
                        TextAlign="TextAlign.Left"
                        TItem="AppointmentTypeDto"
                        Title="Duration">
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</RadzenCard>